<aside class="content__aside">
    <div class="aside__container">
        <div class="aside__content">
            <strong>Социальные сети</strong>
            <ul>
                <li><a class="twitter" target="_blank" href="https://twitter.com/{{ site.contacts.twitter }}">Твиттер</a></li>
                <li><a class="instagram" target="_blank" href="https://www.instagram.com/{{ site.contacts.instagram }}">Инстаграм</a></li>
                <li><a class="facebook" target="_blank" href="https://www.facebook.com/{{ site.contacts.facebook }}">Фэйсбук</a></li>
                <li><a class="vk" target="_blank" href="https://vk.com/{{ site.contacts.vk }}">ВКонтакте</a></li>
            </ul>
            <br>
        
            <strong>Профильные аккаунты</strong>
            <ul>
                <li><a href="https://github.com/{{ site.contacts.github }}" target="_blank">Гитхаб</a></li>
                <li><a href="https://www.linkedin.com/in/{{ site.contacts.linkedin }}/" target="_blank">Линкедин</a></li>
            </ul>
            <br>
        
            <strong>Связаться</strong>
            <ul>
                <li><a href="https://t.me/{{ site.contacts.telegram }}" target="_blank">Телеграм</a></li>
                <li><a href="mailto:{{ site.email }}" target="_blank">Почта</a></li>
            </ul>
            <br>
        </div>
    </div>
</aside>