{% include common/analytics.html %}

<footer class="footer">
    <div class="container copy">
        <div class="cell-1-1">
            <div class="module">
                <p class="copy-author">
                    <i>Спасибо <a href="http://bizikov.ru/" rel="noopener" target="_blank">Саше Бизикову</a> за дизайн и вдохновение.</i><br /><br />
                    © 2009—{{ site.time | date: '%Y' }}, <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>
        </div>
    </div>
</footer>
