.short-quote {
  width: 720px;
  font-weight: bold;
  border: 6px solid red;
  padding: 1em;
  margin: 1em 0 2em 0;
  text-align: center;
}
.short-quote p {
  margin: 0;
}
body#tinymce.wp-editor {
  font-family: "PT Serif", "Arial", sans-serif;
  margin: 10px;
}
body#tinymce.wp-editor p {
  width: 720px;
}
body#tinymce.wp-editor a {
  color: #1d62f0;
  -moz-transform: 0.3s;
  -webkit-transform: 0.3s;
  transform: 0.3s;
}
body#tinymce.wp-editor a:hover {
  color: #fc6341;
}
@media screen and (max-width: 960px) {
  blockquote,
  .short-quote,
  .medium-quote,
  .long-quote {
    width: 75%;
  }
}
