---
layout: default
title: Блог Глеба Гончарова
---

<section class="content">
    <div class="content__container">
        <article class="article">
            {% for post in site.posts %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
            {% if forloop.first %}
            <p class="article__title">{{ this_year }}</p>
            {% endif %}
            <p class="article__text"><a href="{{ post.url }}">{{ post.title }}</a></p>
            {% if forloop.last == false %}
            <p class="article__text"></p>
            {% if this_year != next_year %}
            <p class="article__year">{{ next_year }}</p>
            {% endif %}
            {% endif %}
            {% endfor %}
        </article>
    </div>
    <div class="clear"></div>
</section>
