---
layout: default
title: Блог Глеба Гончарова
---

{% for post in paginator.posts %}
<article id="post-{{ post.id }}" class="content post type-post status-publish format-standard hentry category-busy-podcast category-podcast">
  <div class="container">
    <time class="date" datetime="{{ post.date }}">{{ post.date | localize: "%-d %B %Y года" }}</time>
    <h2 class="post-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h2>
    {{ post.content }}
  </div>
</article>
<div class="clear"></div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="navigation pagination" role="navigation">
	<h2 class="screen-reader-text">Навигация по записям</h2>
	<div class="nav-links">
    {% if paginator.page > 1 %}
    <a class="page-numbers" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">←</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span aria-current="page" class="page-numbers current">{{ page }}</span>
    {% elsif page == 1 %}
    <a class="page-numbers" href="/blog">{{ page }}</a>
    {% else %}
    <a class="page-numbers" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.page < paginator.total_pages %}
    <a class="page-numbers" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">→</a>
    {% endif %}
</nav>
{% endif %}
