<header class="header">
  <h1 class="header__title">{{ site.whoami }}</h1>
  <div class="header__description">
    <p>Системный администратор в <a href="https://funbox.ru/" target="_blank" rel="noopener">ФанБоксе</a>.
    Проектирую, создаю и сопровождаю инфраструктуру проектов для мобильных операторов.<br /><br />

    <a href="/work/">Работаю</a>, чтобы снижать издержки ИТ-компаний на эксплуатацию сервисов.
    В свободное время <a href="/blog/">веду блог</a>, читаю и путешествую.
  </div>
</header>
