<header>
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
      {{ if .IsHome }}
      <h1 class="text-4xl font-sans font-bold">{{ .Site.Params.Author }}</h1>
      {{ else }}
      <h1 class="text-4xl font-sans font-bold"><a class="text-black hover:text-black hover:underline" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Author }}</a></h1>
      {{ end }}
    </div>
    {{ if gt (len .AllTranslations) 1 }}
    <div class="relative">
      <div class="absolute inset-y-0 right-0 flex space-x-4">
        {{ range .AllTranslations }}
        <div>
          {{- if eq (string $.Site.Language) .Lang -}}
            <p class="text-gray-400">{{ .Lang }}</p>
          {{ else }}
            <p><a href="{{ .Permalink }}">{{ .Lang }}</a></p>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  <div class="pt-8 xl:pt-6 lg:pt-4">
    <nav>
      <div class="flex space-x-6 text-2xl">
        <div class="flex-initial"><a href='{{ "work/" | relLangURL }}'>{{ i18n "career" }}</a></div>
        {{- if eq (string $.Site.Language) "ru" -}}
        <div class="flex-initial"><a href='{{ "blog/" | relLangURL }}'>{{ i18n "blog" }}</a></div>
        {{ end }}
      </div>
    </nav>
  </div>
  <div class="pt-8 xl:pt-6 lg:pt-4">
    {{ if .IsHome }}
    <p class="pt-0 text-left text-2xl font-sans antialiased leading-9 tracking-normal">
      {{ i18n "my_role" }} <a href='{{ i18n "company_url" }}' target="_blank" rel="noopener">{{ i18n "company_name" }}</a>.
      {{ i18n "what_i_do" }}.
    </p>
    <p class="pt-9">
      <img class="inline-block h-48 w-48 rounded-full ring-2 ring-white" src="/img/userpic.jpg" alt="">
    </p>
    <p class="pt-9 text-left text-2xl font-sans antialiased leading-9 tracking-normal">
      {{ i18n "my_mission" }}. {{ i18n "my_hobbies" }}.
    </p>
    {{ end }}
  </div>
</header>